*{
    box-sizing: border-box;
}
.container1{
    padding: 10px;
}
.center{
    width: 957px;
    height: 392;
    padding: -5px
    /*display: flex;*/
}
.navbar .col-2, .col-4, .col-6{
    background-color: #bdb8b8;
    margin: -5px;
    text-shadow: black;
    height: 100px;
    text-shadow: 2px 2px  white;
}
.container2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 450px;
    min-width: 300px;
}
.container2 .col-4{
    background-color: #bdb8b8;
    text-shadow: 2px 2px white;
    width: 200px;
    margin: 5px;
    min-height: 200px;

}
.container2 .bottom{
    min-height: 100px;
    max-width: 200px;
    background-color: #bdb8b8;
    text-shadow: 2px 2px white;
    margin: 5px;
    padding: 5px;
}
.row.navbar2 .col-6{
    background-color: #bdb8b8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
    /*max-width: 600px;*/
}







